page-appointment {
    .Wait{
        color: #ff9933;
    }
    .Success{
        color: green;
    }
    .Postpone{
        color: #00ced1;
    }
    .head_title{
        padding-top: 10px;
        font-size: 30px;
        text-align: center;
        text-shadow: 2px 2px 8px gray;
    }
    .sub_title{
        text-shadow: 2px 2px 8px gray;
    }
    .button {
        text-shadow: 2px 2px 8px gray;
    }

    .card-md {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 30px !important;
        // padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
    
    .item-md{
        background-color: rgba(255, 255, 255, 0.4);
    }
}